<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamteam.androidproject" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".service.FMApplication"
        android:allowBackup="true"
        android:label=""
        android:icon="@drawable/img_login_logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.AuthorizationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:logo="@drawable/ic_app_logo_big"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".activities.MusicianActivity"
            android:theme="@style/AppTheme.ActionBar.Overlay"
            android:logo="@drawable/ic_app_logo_small"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.UserProfileActivity"
            android:theme="@style/AppTheme.ActionBar.Overlay"
            android:logo="@drawable/ic_app_logo_small"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.AlbumActivity"
            android:logo="@drawable/ic_app_logo_small"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.GridActivity"
            android:logo="@drawable/ic_app_logo_small"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.gridActivities.ArtistsActivity"
            android:logo="@drawable/ic_app_logo_small"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.PreferencesActivity"
            android:logo="@drawable/ic_app_logo_big"
            android:label="@string/app_name" >
        </activity>
        <service android:name=".service.ServiceApi">

        </service>


    </application>

</manifest>
